@import url(./components/header.css);

@font-face {
  font-family: "Archivo Black";
  src: url(../fonts/ArchivoBlack-Regular.woff);
}
@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.woff);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

body {
}
